<div>
	<img class="menu-toggle" src="/images/icons/hamburger-icon@2x.png" />
	<div class='row'>
		<div class='col-xs-12 menu'>

			<header class='row admin-sidebar-color header-sidebar'>
				<a href="/">${header}</a>
			</header>

			<div class="menu-margin-left">
				<p class="menu-fullname">${fullname}</p>
				<p class="menu-education">ADMIN</p>
			</div>

			<div class='row menu-box-style menu-courses'>
				<h4>Categories</h4>
			</div>

			<ul class="menu-margin-left">
				[repeat categories,category]
					<li><a class="menu-choice-courses" href="/${category.url}">${category.name}</a></li>
				[endrepeat]
			</ul>

			<div class='menu-margin-left'>
				<button class="btn log-out">${logout}</button>
			</div>
		</div>
	</div>
</div>
