<h2 class="margin-bottom">${title}</h2>

<div class="input-group input-group-sm margin-bottom">
	<button id="toggle-create" class="btn btn-default">Create</button>
	<div class="create-area"></div>
</div>

<help-button>?
	<span>This multi-layered search tool enables you to search for anything related to what you're looking for.
		<br />
		Such as students participating in a certain course or education.<br />
		Users with a certain firstname, e-mail, phone-number and much more.</span>
</help-button>

<input type="search" class="form-control" placeholder="Search" autofocus></input>

<ul class="search-list"></ul>
<div><a class="increase-limit">More...</a></div>