<div class='row'>
    <div class="col-xs-12 col-md-6">

			<h2 class="page-header">Your Posted Messages</h2>
        <!-- <label>Your announcements</label> -->
<!--         <div class="col-xs-12">
		</div> -->
        [repeat announcements, announcement]

        <div class="posted-msg" post-id="${announcement._id}">
            <time class="announcement-date">
                <p><strong>${announcement.author.firstname} ${announcement.author.lastname}</strong> ${announcement.dateString}
                    <br>in: <strong>${announcement.courseNames}</strong></p>
            </time>
            <p>${announcement.message}</p>
            <button type="button" class="btn remove-button"><span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> Remove Message</button>
        </div>
        [endrepeat]
    </div>
</div>
