<div class="row">
	<div class="col-xs-6">
		<div class="list-group" item-type="Teacher">
			<h4>Teachers:</h4>
			[repeat item.teachers, teacher]
				<a class="list-group-item" list-item-id="${teacher._id}">${teacher.firstname} ${teacher.lastname}</a>
			[endrepeat]
		</div>
	</div>
	<div class="col-xs-6">
		<div class="list-group" item-type="Student">
			<h4>Students:</h4>
			[repeat item.students, student]
				<a class="list-group-item" list-item-id="${student._id}">${student.firstname} ${student.lastname}</a>
			[endrepeat]
		</div>
		<button type="button" class="btn btn-danger remove-item">Remove</button>
	</div>
</div>