<input type="text" class="form-control" bind-key="username"    placeholder="Username"    value="${item.username}">
<input type="text" class="form-control" bind-key="firstname"   placeholder="Firstname"   value="${item.firstname}">
<input type="text" class="form-control" bind-key="lastname"    placeholder="Lastname"    value="${item.lastname}">
<input type="text" class="form-control" bind-key="phonenumber" placeholder="Phonenumber" value="${item.phonenumber}">
<input type="text" class="form-control" bind-key="picture"    placeholder="Picture"      value="${item.picture}">
<input type="text" class="form-control" bind-key="password"    placeholder="Password"    value="">
