<section class="course-page" course-id="${course._id}">
	<div class="row">
		<div class="col-xs-12">
			<div class="icon-box-course" style="background-color: ${course.icon_bg}">
				<img src="../images/icons/${course.icon_image}" alt="">
			</div>
			<h1 class="page-header-course">${course.name} <br><span>${course.period || 'Unknown period.'}</span></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="about-course padded-box"><h2>About this course</h2>
				${course.description || 'Description not available.'}
			</div>
			<div class="teacher-course padded-box">
				<h2>Teachers</h2>
				[repeat course.teachers, user]
					<profile>
						[template listed-profile, user]
					</profile>
				[endrepeat]
			</div>
		</div>
		<div class="col-md-6">
			<div class="padded-box">
				<h2>Students</h2>
				<div class="row">
					[repeat course.students, user]
						<div class="profile-content flex-vert">
							<div class="col-xs-1 col-md-2">
								[if role === "Teacher"]
									<button class="btn-xs btn-danger remove-item" list-item-id="${user._id}" title="Remove">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								[endif]
							</div>
							<div class="col-xs-11 col-md-10">
								<profile>
									[template listed-profile, user]
								</profile>
							</div>
						</div>
					[endrepeat]
				</div>

				<div class="row">
					<div class="col-xs-12">
						[if role === "Teacher"]
							<h2>Add student to course</h2>

							<input type="search" class="form-control add-student-input" placeholder="Search" autofocus></input>
							<button type="button" class="btn btn-success add-student">Add student</button>
						[endif]
					</div>
				</div>
			</div>


		</div>
	</div>
</section>


