<nav class="row">
	<div class="col-xs-12">
		<div class="nav-box nav-hamburger nav-toggle">
			<img class="nav-icon " src="/images/icons/hamburger-icon@2x.png">
		</div>

		<a href="/" class="nav-box first-child-desktop">
			<div class="hover-dark">
		 		<img class="nav-icon" src="/images/icons/home-btn-icon@2x.png">
			</div>
		</a>

		<!--<a href="/" class="nav-box">
			<div class="hover-dark">
		 		<img class="nav-icon" src="/images/icons/arrow-icon@2x.png">
			</div>
		</a>-->

<!-- 		<div class="nav-box search-bar">
			<img class="nav-icon" src="/images/icons/search-icon@2x.png">
			<input type="text" name="navbar-search" placeholder="Find students, teachers or courses">
		</div> -->
	</div>
</nav>
