<input type="text" class="form-control" bind-key="room" placeholder="Room id">
<input type="text" class="form-control" bind-key="course" placeholder="Course id">
<input type="text" class="form-control" bind-key="date" placeholder="Booking date">
<input type="text" class="form-control" bind-key="timeFrom" placeholder="Booking start time">
<input type="text" class="form-control" bind-key="timeTo" placeholder="Booking end time">
<input type="text" class="form-control" bind-key="bookedBy" placeholder="Booked by">
<input type="text" class="form-control" bind-key="type" placeholder="Type of activity">
