<input type="text" class="form-control" bind-key="username"    placeholder="Username">
<input type="text" class="form-control" bind-key="firstname"   placeholder="Firstname">
<input type="text" class="form-control" bind-key="lastname"    placeholder="Lastname">
<input type="text" class="form-control" bind-key="phonenumber" placeholder="Phonenumber">
<input type="text" class="form-control" bind-key="picture"     placeholder="Picture">
<input type="text" class="form-control" bind-key="password"    placeholder="Password">
